[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "segmetric"]
	path = segmetric
	url = https://github.com/michellepicoli/segmetric
